@import "./base.css";

#app {
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.header{
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin: 40px;
}

.headerlarge{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin: 40px;
}


.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 400px;
}
.bannernarrow{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 200px;
}

.lighter{
  background-color: var(--vt-c-divider-dark-1);
}

.darker{
  background-color: var(--vt-c-black-soft);
}

.banner img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
